.chat-holder{
  width: 50%;
  min-width: 300px;
  margin: 1em auto;
}

.input-chat{
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 20px;
}

.btn-chat{
  display: block;
  width: 100%;
}

.message-area{
  height: 300px;
  overflow-y: auto;
  border: 1px #bbb solid;
  border-bottom: none;
}